body {
    background-color: #151515;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}
.kuvaOtsikko{
    background-image: url(kuva1.jpg);
    background-repeat: no-repeat; 
    position: relative;
    text-align: center;
    top: 30px;
}
.kuvaOtsikko h1{
    font-size: 60px;
    width: 50%;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 175px;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    padding: 25px;
}
.kuvaOtsikko p{
    position: relative;
    font-size: 27px;
    letter-spacing: 20px;
    text-transform: uppercase;
    top: -60px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.linkit {
    background-color: black;
    padding: 10px;
}