body {
    background-color: #151515;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}
.kuva1{
    position: absolute;
    display: inline;
    text-align: center;
    top: 30px;

}

/*.Otsikko h1{
    font-size: 60px;
    width: 50%;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 175px;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    padding: 25px;
}*/

/*.Otsikko p{
    position: relative;
    font-size: 27px;
    letter-spacing: 20px;
    text-transform: uppercase;
    top: -60px;
    left: 50%;
    transform: translate(-50%, -50%);
}*/

.Otsikko h1{
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    border: 2px solid white;
    padding: 35px;
    position: relative;
    margin-top: 15%;
}
.Otsikko p{
    font-size: 27px;
    position: relative;
    letter-spacing: 20px;
    text-transform: uppercase;
    text-align: center;
    top: -20px;
}
.linkit{
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 3px;
    background-color: rgb(17, 34, 19);
    padding: 10px;
    position: absolute;
}
a{
    text-decoration: none;
    color: white;
}
a:visited{
    color: limegreen;
}
